<div class="flex items-center gap-2">
  <button type="button" aria-label="Previous" (click)="goToPrevious()" [disabled]="currentPage === 1"
    class="mr-4 disabled:opacity-20 hover:bg-gray-100 p-2 rounded-full transition-colors group">
    <svg width="9" height="16" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg"
      class="rotate-180 group-active:scale-90 transition-transform">
      <path d="M1 1L10 9.24242L1 17" stroke="#111820" stroke-opacity="0.7" stroke-width="2" stroke-linecap="round" />
    </svg>
  </button>

  <div class="flex gap-2 text-gray-500 text-sm md:text-base">
    <button *ngFor="let page of pages" (click)="goToPage(page)" type="button"
      [class]="currentPage === page ? 'flex items-center justify-center active:scale-95 w-9 md:w-12 h-9 md:h-12 aspect-square bg-indigo-500 text-white rounded-md transition-all font-black shadow-lg shadow-indigo-200' : 'flex items-center justify-center active:scale-95 w-9 md:w-12 h-9 md:h-12 aspect-square bg-white border border-gray-200 rounded-md hover:bg-gray-100/70 transition-all font-medium'">
      {{ page }}
    </button>
  </div>

  <button type="button" aria-label="Next" (click)="goToNext()" [disabled]="currentPage === totalPages"
    class="ml-4 disabled:opacity-20 hover:bg-gray-100 p-2 rounded-full transition-colors group">
    <svg width="9" height="16" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg"
      class="group-active:scale-90 transition-transform">
      <path d="M1 1L10 9.24242L1 17" stroke="#111820" stroke-opacity="0.7" stroke-width="2" stroke-linecap="round" />
    </svg>
  </button>
</div>